---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<BaseLayout title="Projects">
  <h1 class="text-3xl font-semibold mb-10">Projects</h1>

  <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    <ProjectCard
      title="Calico"
      description="Calico is an advanced metrics collection and dataproccessing tool designed for large Discord communities."
      href="https://github.com/jacobmonck/calico"
    />
  </div>
</BaseLayout>